{% extends 'base.html.twig' %}

{% block title %}Paroles d'experts{% endblock %}

{% block body %}
    <h1>Modifier une parole d'expert</h1>

    {{ include('light/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('light_index') }}">Retour à la liste</a>

    {{ include('light/_delete_form.html.twig') }}
{% endblock %}
