{% extends 'base.html.twig' %}
{% block title %}
    Accès refusé
{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row mx-auto my-5 text-center col-5">
        <h1>Vous n'avez pas les permission requises pour accéder a ce contenu.</h1>
    </div>
</div>
{% endblock %}

