{% extends 'registration/form.html.twig' %}

{% block title %}Je m'inscris{% endblock %}
{% block formtitle %}INSCRIPTION{% endblock %}
{% block form %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <form action="" method="post">
        <div class="row my-3 mx-auto col-xl-7 col-lg-7">
            <div class="container-fluid col-xl-5 col-lg-7">
                <div class="row col-xl-12 col-lg-12"><label for="role_select">Je suis :</label></div>
                <div class="row col-xl-12 col-lg-12 mx-auto"><select name="roles" onchange="function displaymsg()
{
    let x = document.getElementById('role_select').value;
    let msg;
    if (x === 'ROLE_EXPERT') {
        msg = 'Vous êtes au sein de votre entreprise,\n' +
            'association, université, …, impliqué dans le domaine du développement\n' +
            'durable ou de la RSE, ou expert d\'une thématique spécifique. Vous êtes pour une\n' +
            'meilleure transparence des acteurs économiques - Rejoignez-nous en tant\n' +
            'qu’expert'
    } else if (x === 'ROLE_ENTERPRISE') {
        msg = 'Vous pensez que les\n' +
            'bénéfices de vos actions sont méconnus, voire questionnés. Vous êtes engagés dans\n' +
            'une démarche de développement durable. Partagez vos engagements directement\n' +
            'auprès des consommateurs !';
    }
    document.getElementById('txt').innerHTML = msg;
    document.getElementById('LADIV').style.display = 'block';
    if (x === 'ROLE_CONSUMER') {
            document.getElementById('LADIV').style.display = 'none';
            msg = '';

    }
}
displaymsg() " class="form-control" id="role_select">
                        <option value="ROLE_CONSUMER">Un consommateur</option>
                        <option value="ROLE_EXPERT">Un expert</option>
                        <option value="ROLE_ENTERPRISE">Une entreprise</option>
                    </select>
                </div>
            </div>
            <div class="container-fluid col-xl-7 col-lg-12 mt-3" id="LADIV" style="display: none">
                <p id="txt"></p>
            </div>
        </div>
        <div class="container-fluid col-xl-5 col-lg-5">
            <div class="row col-xl-10 col-lg-11 col-md-10 offset-1">
                <button class="mx-auto my-3 btn btn-lg btn-primary" type="submit" name="submit">
                    Inscrivez-vous
                </button>
            </div>
        </div>
    </form>


{% endblock %}
{% block javascripts %}
    <script src="{{ asset('build/app.js') }}"></script>
{% endblock %}
