{% extends 'base.html.twig' %}

{% block title %}CGU{% endblock %}

{% block body %}
<h1 class="text-center m-5">Conditions Générales d'Utilisation</h1>
<div class="col-10 mx-auto text-justify">
    <p>Le présent site est détenu par l’association Et Veille au Monde, Association loi 1901 (N° de Siret : 842 587 305
        00017), dont le siège social est sis 66, rue de la Glacière – 75013 Paris, chargée de la politique éditoriale et
        de la mise à jour du site http://www.brandvisor.fr/ (Ci-après désigné le « Site »).
        Le directeur de publication du présent site est Monsieur Jean Clinckemaillie.
        Réalisation et développement : Wild Code School
        Hébergeur : OVH.com
        Ce site est conçu pour la valorisation des entreprises engagées en faveur du développement durable, à travers
        une mise en avant de leurs démarches de transparence, et la promotion de leurs produits. Il facilite le partage
        d’initiatives utiles au développement durable entre consommateurs / citoyens, experts et Entreprises.
        L’utilisation du site est soumise au respect des dispositions qui suivent et vaut acceptation des présentes
        conditions (ci-après conjointement désignées les « Conditions d’utilisation ») et constitue votre engagement à
        les respecter. Si vous n’acceptez pas ces Conditions d’utilisation ou notre politique de confidentialité, merci
        de ne pas utiliser les services proposés sur le Site.
        Nous nous réservons le droit de modifier ces dispositions à tout moment et sans préavis. Nous vous invitons donc
        à consulter régulièrement cette page afin d’être constamment informé des éventuelles modifications.</p>

    <h3>PROPRIÉTÉ INTELLECTUELLE</h3>
    <p>Tout ce que vous voyez ou entendez sur le Site, y compris les marques déposées, marques de service, identités de
        marque, personnages, noms de marque, graphiques, modèles, copyrights, présentations et autres propriétés
        intellectuelles (le « Contenu ») est la propriété intellectuelle de l’association Et Veille au Monde et/ou de
        tiers. Cela inclut l’ensemble du Contenu du Site, qui est protégé par les droits d’auteur en tant qu’œuvre
        collective.
        L’utilisation des marques déposées ou autres contenus à des fins autres que celles autorisées par les présentes
        Conditions d’utilisation ou définies sur le Site lui-même, est strictement interdite. L’impression et/ou la
        diffusion des informations publiées sur ce Site nécessitent de mentionner le Site sur vos propres documents. De
        même, vous ne pouvez copier ou publier ces informations sur d’autres sites, ou modifier ou réutiliser des textes
        et des images sur ce système ou un autre système sans notre accord. Tous les autres droits sont réservés.
        Sauf en cas d’autorisation expresse de notre part, vous n’êtes pas autorisé à copier, distribuer, modifier,
        transmettre, réutiliser, rediffuser ou afficher d’une autre manière le Contenu du Site à des fins publiques ou
        commerciales sans la permission écrite et préalable pour chacune de ces utilisations du Contenu.</p>

    <h3>JURIDICTION</h3>
    <p>Sauf indication contraire, le Contenu de ce Site n’est présenté qu’à des fins de promotion. L’association ne fait
        aucunement valoir ni ne garantit que le Contenu de son Site est applicable ou adapté à une utilisation dans une
        juridiction en dehors de la France.</p>

    <h3>EXCLUSION DE RESPONSABILITÉ</h3>
    <p>Nous ne garantissons pas que les fonctionnalités de ce Site seront disponibles de manière non interrompue, ou
        exemptes d’erreurs ou d’omissions, que tous les défauts seront corrigés, ou que ce Site ou le serveur qui
        l’héberge sont exempts de virus ou autres éléments nuisibles. Nous ne garantissons pas et ne sommes pas
        responsables de l’utilisation ou du résultat de l’utilisation des contenus de ce Site, ni de leur exactitude,
        précision, fiabilité ou autre qualité.
        L’utilisation du Site se fait à vos risques. L’association Et Veille au Monde ne saurait être tenue pour
        responsable des éventuels dommages directs, indirects, accidentels, consécutifs ou en cas de dommages et
        intérêts découlant de votre utilisation du Site, que celle-ci soit légale ou frauduleuse. Si, pour un motif
        quelconque, vous n’êtes plus satisfait des services proposés sur ce Site ou des Conditions d’utilisation ou de
        la politique de confidentialité, il est de votre responsabilité exclusive de cesser de l’utiliser.
        Vous prenez l’engagement de dédommager l’association Et Veille au Monde ainsi que ses dirigeants,
        administrateurs, employés, agents ou fournisseurs en cas de pertes, dommages, et dépenses (y compris les frais
        de justice) résultant de la violation des présentes Conditions d’utilisation, de votre part ou de la part d’une
        tierce personne utilisant votre accès Internet pour consulter le Site.</p>

    <h3>LIENS</h3>
    <p>Le Site peut contenir des Liens qui vous permettent de quitter le site pour accéder à d’autres sites que
        l’association ne contrôle pas.
        L’association n’est pas responsable du contenu ou de la transmission des sites liés ou des Liens figurant dans
        les sites liés et ne garantit pas que les sites liés sont exempts d’erreurs et de virus.</p>

    <h3>MISE EN LIGNE DE CONTENU</h3>
    <p>Vous pouvez contribuez au Site en y téléchargeant du contenu. Pour ce faire, vous devez vous inscrire sur le site
        en renseignant un formulaire d’identification et charger votre contenu.
        Le contenu téléchargé sur le Site doit s’inscrire dans une politique volontariste de votre part contribuant au
        développement durable.
        En ajoutant du contenu sur la plateforme vous vous engagez à ce que vous et/ou votre organisation ou société
        soit seule responsable des informations présentées et certifie l’authenticité des données fournies concernant le
        dépôt des engagements.
        Vous vous tenez à la disposition de l’Association Et Veille au Monde afin de répondre aux interrogations qui
        peuvent subsister concernant les données transmises sur les engagements.
        Vous acceptez que les engagements que vous présentez, pour votre compte ou pour celui de votre organisation ou
        société, soient mis en ligne sur le Site, en remplissant le formulaire, ainsi que tous les documents annexes
        transmis.
        Vous reconnaissez et acceptez l’entière responsabilité des engagements que vous proposez, notamment en matière
        de légalité, d’exactitude et de propriété intellectuelle relatifs à ces informations. Vous n’êtes pas autorisé à
        mettre en ligne, diffuser ou publier par l’intermédiaire de ce Site des contenus injurieux, diffamatoires,
        obscènes, menaçants, abusifs ou illégaux, ou constituant une incitation à violer la loi.
        Les entreprises peuvent également utiliser ce site pour faire la promotion de leurs produits qui se trouvent sur
        les pages recommandations. Seules les entreprises engagées dans une démarche de transparence et qui obtiennent
        une note minimale de quatre étoiles peuvent utiliser ce service (la notation est déterminée par le site en
        fonction des informations fournies).
        La promotion de ces recommandations fait l’objet d’un paiement (commission) définie au cas par cas.
        En dehors des entreprises, les consommateurs et les experts peuvent également déposer du contenu. De même, dans
        ce cas, vous reconnaissez et acceptez l’entière responsabilité des informations que vous proposez, notamment en
        matière de légalité, d’exactitude et de propriété intellectuelle relatifs à ces informations. Vous n’êtes pas
        autorisé à mettre en ligne, diffuser ou publier par l’intermédiaire de ce Site des contenus injurieux,
        diffamatoires, obscènes, menaçants, abusifs ou illégaux, ou constituant une incitation à violer la loi.</p>

    <h3>PAIEMENT</h3>
    <p>Après avoir rempli le formulaire et proposé vos engagements, ainsi que vos produits à recommander, l’Association
        et Vous conviennent d’un taux de commission d’utilisation de ces services.
        Dés acceptation, vous garantissez que vous êtes pleinement habilité à procéder au paiement de facture et que
        celui-ci donne accès à des fonds suffisants pour couvrir le montant des factures concernées.
        Pour les internautes en dehors du territoire français, les dispositions prévues la réglementation française sont
        les seules applicables.
        Dans le cadre de sa politique de lutte contre la fraude, l’Association Et Veille au Monde peut être amené à vous
        demander des informations et documents complémentaires afin de finaliser la mise en ligne de votre contenu. En
        cas de non régularisation dans le délai imparti, l’association Et Veille au Monde pourrait être contrainte
        d’annuler la mise en ligne du contenu, et de procéder à l’inscription de certaines données, notamment à
        caractère personnelles, dans un fichier « incidents de paiement ».</p>

    <h3>CGV</h3>

    <h3>DROIT DE RETRACTATION</h3>
    <p>Concernant le service de mise en ligne de contenu sur le Site, et hormis les exceptions énumérées ci-dessous,
        vous bénéficiez d’un droit de rétratation pendant sept jours francs à compter de la date de formation du
        contrat, conformément aux dispositions de l’article L 121-20 du Code de la consommation.
        Vous pouvez, dans les sept jours qui suivent la formation du contrat, et concernant les services soumis au droit
        de rétractation, exercer celui-ci en envoyant un email à l’adresse suivante : contact@brandvisor.fr.
        Néanmoins, vous acceptez renoncer expressément à votre droit de rétraction dès la mise en ligne de votre
        contenu, et cela même dans l’hypothèse où celle-ci interviendrait avant la fin du délai de sept jours francs,
        conformément à l’article L.121-20-2, 1° du code de la consommation.</p>

    <h3>COMPÉTENCE LÉGISLATIVE ET EXÉCUTION</h3>
    <p>Votre accès au Site, les présentes Conditions d’utilisation et l’accord qu’elles créent, sont régis et
        interprétés par les lois en vigueur sur le territoire français, abstraction faite des dispositions relatives aux
        conflits de lois.</p>

    <h3>ACCEPTATION DES CONDITIONS D’UTILISATION</h3>
    <p>Si vous n’acceptez pas les présentes Conditions d’utilisation ou la politique de confidentialité publiée sur ce
        Site, vous devez cesser de l’utiliser. Nous nous réservons le droit de modifier ces Conditions d’utilisation à
        tout moment. Nous vous invitons à consulter régulièrement cette page afin d’être constamment informé des
        éventuelles adaptations ou modifications. L’utilisation de ce Site vaut acceptation des présentes Conditions
        d’utilisation.</p>

    <h3>TYPES DE DONNÉES PERSONNELLES COLLECTÉES – ACCES A VOS DONNEES PERSONNELLES </h3>
    <p>Les données personnelles que nous collectons sur le Site sont les suivantes (liste non exhaustive) : adresse
        e-mail, nom, adresse postale, âge, sexe. La fourniture de ces informations personnelles vous sera par exemple
        demandée pour remplir le formulaire de mise en ligne de contenu, recevoir une lettre d’informations, etc. La
        participation à ces activités (et par conséquent la communication de vos coordonnées personnelles) est
        entièrement volontaire.
        Conformément à la loi Informatique et Libertés du 6 Janvier 1978 modifiée, vous disposez d’un droit d’accès, de
        rectification, de modification et de suppression des données personnelles que vous nous avez communiquées. Vous
        pouvez exercer ce droit en envoyant un mail à contact@brandvisor.fr.</p>


    <h3>EXPLOITATION DES DONNÉES COLLECTÉES</h3>
    <p>Nous n’exploitons que les données personnelles que vous décidez de nous communiquer. Par exemple, si vous
        remplissez le formulaire en ligne, nous recueillons votre adresse e-mail et adresse postale, et les autres
        informations nécessaires pour vous communiquer l’email accusé réception de votre commande, la facture ou pour
        tout autre motif expliqué sur le Site et que vous aurez accepté en remplissant un formulaire. Si vous acceptez
        ces conditions ou si vous nous autorisez à recueillir des informations nominatives et personnelles, nous les
        utiliserons pour traiter vos demandes, répondre à vos questions et vos réclamations, vous envoyer des brochures
        ou autres informations sur nos activités, ou pour vous contacter dans le cadre de sondages ou d’enquêtes client.
        Seules les personnes ayant accepté ou expressément demandé de recevoir des informations en ligne seront
        contactées.
        De façon générale, nous exploitons les données que vous nous communiquez dans le but d’améliorer notre Site et
        d’offrir à nos visiteurs le meilleur service.</p>

    <h3>DIVULGATION DES DONNEES PERSONNELLES A DES TIERS</h3>
    <p>L’Association Et Veille au Monde s’engage à garantir la confidentialité de vos données personnelles et à prendre
        les mesures nécessaires pour éviter toute utilisation frauduleuse ou modification de ces informations.
        Ces données pourront par ailleurs être communiquées aux tiers qui exploitent votre contenu dans les conditions
        prévues aux présentes Conditions d’utilisation, ce que vous acceptez. Nous pouvons également communiquer vos
        données personnelles à nos fournisseurs, qui ne sont autorisés à les utiliser que dans le cadre des services
        qu’ils assurent pour notre compte.
        Enfin, nous nous réservons le droit de communiquer les données personnelles en notre possession lorsque la
        demande émane des forces de police ou lorsque la loi, des dispositions réglementaires, une assignation, une
        décision de justice ou un organisme public nous y oblige. Nous pouvons également divulguer des informations
        personnelles à des tiers si nous estimons que cette communication est indispensable pour identifier, contacter
        ou intenter une action contre une personne ayant violé les Conditions d’utilisation de notre Site, pour mener
        des enquêtes à la suite de réclamations client ou d’éventuelles violations de la loi, pour protéger l’intégrité
        du site, répondre à vos demandes ou coopérer à toute enquête menée par les autorités judiciaires.</p>

    <h3>PROTECTION DES ENFANTS</h3>

    <h3>INFORMATION AUX PARENTS</h3>
    <p>Afin de protéger les enfants, aucune donnée personnelle relative à des enfants âgés de 13 ans ou moins n’est
        sollicitée ni collectée sur notre Site sans avoir informé et obtenu le consentement des parents ou du
        représentant légal.</p>

    <h3>ACCEPTATION DES DISPOSITIONS DE CETTE POLITIQUE DE CONFIDENTIALITÉ</h3>
    <p>L’utilisation du Site vaut acceptation des Conditions d’utilisation du Site. Si vous n’acceptez pas l’une des
        dispositions de la politique de confidentialité de l’Association Et Veille au Monde ou de nos Conditions
        d’utilisation du Site, merci de ne plus le consulter et de ne pas transmettre de données personnelles
        susceptibles de vous identifier.</p>

    <h3>NOUS CONTACTER</h3>
    <p>Pour toute question ou observation sur les présentes Conditions d’utilisation du Site,
        merci d’adresser un mail à l’adresse suivante contact@brandvisor.fr.</p>

    <p class="text-center">© Copyright 2020 Et Veille au Monde Tous droits réservés.</p>
</div>
{% endblock %}