{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
<h1 class="text-center font-weight-bold m-5">MENTIONS LÉGALES BRANDVISOR</h1>
<div class="col-10 mx-auto text-justify">
    <h4>INFORMATIONS ÉDITEURS</h4>
    <p>Ce site est géré par Et Veille au Monde, Association loi 1901 (N° de Siret : 842 587 305 00017).
        La politique éditoriale et la mise à jour de ce site sont assurées par Et Veille au Monde.
        Directeur de Publication : Mr Jean Clinckemaillie</p>

    <p>Et Veille au Monde <br />
    66 Rue de la glacière<br />
    75013 Paris<br />
    E-mail : etveilleaumonde@gmail.com </p>

    <h4>HÉBERGEMENT ET CONCEPTION</h4>
    <p>Réalisation et Développement : Wild Code School
        Hébergement : OVH.com
        Pour toute suggestion, information, réaction concernant ce site, merci d’utiliser le formulaire de contact :
        contact@brandvisor.fr</p>

    <h4>COPYRIGHT ET DROITS D’AUTEUR</h4>
    <p>Crédits photographiques : Toutes les photos présentes sur le site sont couvertes par le droit d’auteur ; toute
        reprise est dès lors conditionnée à l’accord de l’auteur (article L.122-4 du Code de la Propriété
        Intellectuelle).
        Pour les créations graphiques et les illustrations, les demandes doivent être adressées aux détenteurs des
        droits.
        Les photographies et vidéos ne peuvent être reproduites sans accord préalable.</p>

    <h4>PROPRIÉTÉ INTELLECTUELLE</h4>
    <p>En accord avec les lois nationales et internationales régissant le droit d’auteur et la propriété intellectuelle
        (ou autres droits similaires), l’exploitation, l’utilisation, la reproduction, la diffusion, la
        commercialisation, l’extraction ou la modification de tout ou partie des éléments se trouvant sur le
        site www.brandvisor.fr est strictement interdite.
        L’association Et Veille au Monde ne cède aucun droit de propriété intellectuelle sur les Documents et plus
        généralement sur le contenu du site www.brandvisor.fr quelle qu’en soit la forme. Conformément aux règles de «
        Bon usage » ci-dessus mentionnées, la consultation des Documents ne peut s’interpréter comme une cession, même
        partielle ou temporaire, des droits de reproduction, de représentation et d’adaptation de tout ou partie des
        textes, présentations méthodologiques ou éléments visuels ou graphiques composant le site www.brandvisor.fr. Les
        conditions d’exploitation qui s’attachent aux Documents et plus généralement au contenu du www.brandvisor.fr
        sont les suivantes : DROITS RESERVES – TEXTES, ELEMENTS VISUELS, GRAPHIQUES OU SONORES UNIQUEMENT CONSULTABLES
        SUR LE SITE INTERNET. REPRODUCTION ET/OU DIFFUSION INTERDITE.</p>

    <h4>CRÉATION DE LIENS VERS WWW.BRANDVISOR.FR</h4>
    <p>La mise en place de lien vers le site www.brandvisor.fr n’est conditionnée à aucun accord préalable. Il est
        fortement recommandé que l’ouverture de cette page se fasse dans une fenêtre indépendante du navigateur.
        Toutefois, l’association se réserve le droit de demander la suppression de lien vers des sites dont l’objet
        s’avérerait non conforme à l’objet de son site, diffuseraient des informations à caractère raciste,
        pornographique ou xénophobe ou étant de nature à heurter la sensibilité du public.</p>

    <h4>AVERTISSEMENT</h4>
    <p>Malgré tout le soin apporté par nos équipes éditoriales et techniques à la rédaction et la mise en ligne des
        documents, des erreurs typographiques ou des inexactitudes techniques ne peuvent être exclues. L’association se
        réserve le droit de les corriger à tout moment dès qu’elles sont portées à sa connaissance. Les informations et
        les documents contenus sur le site www.brandvisor.fr sont susceptibles de faire l’objet de mises à jour à tout
        moment. Notamment, elles peuvent faire l’objet de mises à jour entre le moment de leur téléchargement par
        l’internaute et celui où il en prend connaissance.</p>

    <h4>LIENS</h4>
    <p>Des liens vers d’autres sites, publics ou privés peuvent vous être proposés sur le site www.brandvisor.fr afin de
        faciliter l’accès à l’information et aux services en ligne pour l’internaute. Le contenu de ces sites n’engage
        pas la responsabilité d’Et Veille au Monde.</p>

    <h4>ACCESSIBILITÉ</h4>
    <p>L’éditeur ainsi que l’hébergeur s’efforcent de permettre que les internautes puissent avoir accès en continu au
        site www.brandvisor.fr. Néanmoins, l’éditeur se réserve le droit de ne pouvoir garantir l’accessibilité à son
        site Internet en cas de force majeure (panne, intervention technique de maintenance). Dans ce cas, la
        responsabilité de l’éditeur ne saurait être engagée.
        Les Services que fournit le Site sont en constante évolution et de ce fait, la forme et la nature des Services
        que fournit le Site sont sujettes à des changements ponctuels et sans préavis.</p>

    <h4>RESPONSABILITÉ</h4>
    <p>Il est expressément précisé que toute connexion de l’utilisateur au site est subordonnée au respect de se
        conformer à la présente notice légale.
        Il est cependant fortement recommandé à l’utilisateur de prendre toutes les précautions nécessaires afin de se
        prémunir contre les effets de la piraterie, notamment en adoptant une configuration informatique sécurisée et
        adaptée, par la mise en place d’un logiciel de détection de virus régulièrement mis à jour.
        L’association ne pourra en aucun cas être tenue pour responsable en cas de contamination du matériel
        informatique de l’utilisateur au cours ou après la navigation de celui – ci sur le site Internet
        www.brandvisor.fr.
        L’association veille à garantir l’exactitude des informations présentes sur son site. Néanmoins, il est
        expressément précisé que les informations traitées peuvent contenir des inexactitudes techniques ou
        typographiques.
        Elle remercie les utilisateurs du présent site de lui faire part d’éventuelles omissions, erreurs ou
        corrections, en adressant un e-mail à l’adresse contact.
        Il est précisé que l’association Et Veille au Monde ne peut en aucune façon être tenue pour responsable des
        erreurs éventuelles présentes sur son site, de la complétude des informations traitées, ni d’une absence de
        disponibilité des informations.
        L’utilisateur reconnaît que l’association Et Veille au Monde se réserve le droit de modifier, d’interrompre
        temporairement ou de façon permanente tout ou partie du site, sans préavis.
        Elle ne pourra voir sa responsabilité recherchée en cas d’indisponibilité temporaire du site notamment en cas de
        maintenance du site ou du serveur sur lequel il est hébergé, en cas d’incident technique et plus généralement en
        cas d’évènement extérieur à son contrôle.</p>

    <h4>Protection des données à caractère personnel</h4>
    <p>Conformément aux articles 32 et suivants de la loi n°78-17 du 6 janvier 1978 relative à l’informatique, aux
        fichiers et aux libertés modifiée par la loi n° 2004-801 du 6 août 2004, l’utilisateur déclare être informé que
        les données à caractère personnel qu’il communique, notamment en remplissant les formulaires présents sur le
        site pourront être transmises et exploitées par Et Veille au Monde et ses partenaires suivant certaines
        modalités.
        Et Veille au Monde garantit à l’utilisateur le respect des données communiquées et veille à leur intégrité.
        L’adresse électronique, l’identité (nom, prénom), la fonction, le numéro de téléphone, la raison sociale (pour
        les personnes morales), l’adresse postale, ainsi que le message de demande d’information sont les seules données
        à caractère personnel susceptibles d’être collectées et traitées.
        Les données à caractère personnel sont collectées à des fins d’identification et à des fins statistiques, la
        durée de conservation est déterminée conformément aux textes en vigueur.
        Conformément aux dispositions légales applicables, chaque utilisateur, justifiant de son identité, peut exiger
        que soient rectifiées, complétées, mises à jour ou effacées les données à caractère personnel la concernant,
        dans la mesure où celles-ci sont inexactes, incomplètes ou périmées ou dont la conservation serait interdite.
        L’utilisateur peut exercer les droits précédemment énumérés en justifiant de son identité en écrivant à
        l’adresse contact.
        Il est rappelé à l’utilisateur qu’il doit s’abstenir de toute collecte ou utilisation détournée concernant les
        données à caractère personnel auxquelles il est susceptible d’accéder. De manière générale, il lui est interdit
        d’effectuer tout acte de nature à porter atteinte à la vie privée ou à la réputation des personnes.
        Le non-respect de ces obligations expose l’utilisateur à des sanctions pénales.</p>
</div>
{% endblock %}