{% extends 'base.html.twig' %}

{% block title %}{{ user.enterprise.name }} opinions{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row col-5 mx-auto">
            <h1 class="mx-auto text-center my-5">{% if nb == 0  %}Vous n'avez aucun challenge {% else %}Les challenges déposés pour mon entreprise{% endif %}</h1>
        </div>
        <div class="row d-flex justify-content-between">
            {% for challenge in user.enterprise.challenges %}

                <div class="card col-5 my-3" style="width: 18rem; background-color: rgba(128,128,128,0.25)">
                    <div class="card-body">
                        <h5 class="card-title">Challenge déposé par M./Mme {{ challenge.depositary.lastName }}</h5>
                        <p class="card-text">{{ challenge.name }}</p>
                        <p class="card-text">{{ challenge.description }}</p>
                        <a href="#" class="btn btn-primary">Voir ce challenge</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}