@import "normalize";
@import "global";
@include media-breakpoint-up(sm) {}
@include media-breakpoint-up(md) {}
@include media-breakpoint-up(lg) {}
@include media-breakpoint-up(xl) {}

.table {
    margin-bottom: 0rem;
}


@include media-breakpoint-up(lg) 
{ 
    #img
    {
        height: 450px;
    }
}

@include media-breakpoint-up(md) {
    #img
    {
        height: 450px;
    }
}
