@import "~bootstrap/scss/bootstrap";

body {
    background-color: black;
    //background-image: url("../images/fougeressamere.jpeg");
    //background-repeat: no-repeat;
    //background-size: 100%;
}

$lightGreen: #73b981;
$greySteel: #787979;
$white: white;
$darkGreen: #356315;
$red: #ff3254;
$black: rgba(0, 0, 0, 0.2);
$yellow: #73b981;
$black-50: rgba(0, 0, 0, 0.1);

.bg-black-50 {
    background-color: $black-50;
}
.text-lightGreen {
    color: $lightGreen;
}

.text-greySteel {
    color: $greySteel;
}

.text-white {
    color: $white;
}

.text-darkGreen {
    color: $darkGreen;
}

.text-red {
    color: $red;
}

.text-yellow {
    color: $yellow;
}
.bg-yellow {
    background-color: $yellow;
}

.border-greySteel {
    border-color: $greySteel;
}

.bg-black {
    background-color: $black;
}

.bg-lightGreen {
    background-color: $lightGreen;
}

.bg-greySteel {
    background-color: $greySteel;
}

.bg-white {
    background-color: $white;
}

.bg-darkGreen {
    background-color: $darkGreen;
}

.bg-red {
    background-color: $red;
}

.bg-blueGreen {
    background-image: linear-gradient(
            515deg,
            rgba(54, 54, 54, 0.05) 0%,
            rgba(54, 54, 54, 0.05) 33.333%,
            rgba(85, 85, 85, 0.05) 33.333%,
            rgba(85, 85, 85, 0.05) 66.666%,
            rgba(255, 255, 255, 0.05) 66.666%,
            rgba(255, 255, 255, 0.05) 99.999%
        ),
        linear-gradient(
            562deg,
            rgba(81, 81, 81, 0.05) 0%,
            rgba(81, 81, 81, 0.05) 33.333%,
            rgba(238, 238, 238, 0.05) 33.333%,
            rgba(238, 238, 238, 0.05) 66.666%,
            rgba(32, 32, 32, 0.05) 66.666%,
            rgba(32, 32, 32, 0.05) 99.999%
        ),
        linear-gradient(
            349deg,
            rgba(192, 192, 192, 0.05) 0%,
            rgba(192, 192, 192, 0.05) 33.333%,
            rgba(109, 109, 109, 0.05) 33.333%,
            rgba(109, 109, 109, 0.05) 66.666%,
            rgba(30, 30, 30, 0.05) 66.666%,
            rgba(30, 30, 30, 0.05) 99.999%
        ),
        linear-gradient(
            398deg,
            rgba(77, 77, 77, 0.05) 0%,
            rgba(77, 77, 77, 0.05) 33.333%,
            rgba(55, 55, 55, 0.05) 33.333%,
            rgba(55, 55, 55, 0.05) 66.666%,
            rgba(145, 145, 145, 0.05) 66.666%,
            rgba(145, 145, 145, 0.05) 99.999%
        ),
        linear-gradient(299deg, rgb(0, 250, 29), rgb(18, 131, 221));
}

@import "~bootstrap/scss/bootstrap";
