body{
    background-image:url("../images/fougeressamere.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.lightGreen{
    background-color: #73B981;
}
.greySteel{
    background-color: #787979;

}
