{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <a href="{{ path('validate_opinions') }}">Validation des avis</a>
    <a href="{{ path('news_new') }}">Déposer une news</a>
    <a href="{{ path('init_validate') }}">Validation des initiatives</a>
{% endblock %}
