{% extends 'base.html.twig' %}

{% block title %}Consulter les opinions sur mon entreprise{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row col-5 mx-auto">
            <h1 class="mx-auto text-center my-5">Les avis sur mon compte</h1>
        </div>
        <div class="row justify-content-center mx-auto">
            {% for opinion in opinions %}
                <div class="card col-12 col-sm-5 mx-auto my-3" style="width: 18rem; background-color: rgba(128,128,128,0.25)">
                    <div class="card-body over text-truncate">
                        <h5 class="card-title">Avis déposé par M./Mme {{ opinion.depositary.lastName }}</h5>
                        <p class="card-text">{{ opinion.text }}</p>
                        <a href="{{ path('opinion_show', { 'id': opinion.id }) }}" class="btn btn-primary">Voir cet avis</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}