{% extends 'base.html.twig' %}

{% block title %}Avis de {{ opinion.depositary.firstName }}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row col-5 mb-5 mx-auto">
            <h3 class="text-center mx-auto">Avis de M./Mme {{ opinion.depositary.fullName }} sur l'entreprise {{ opinion.enterprise.name }}</h3>
        </div>
        <div class="row col-10 my-auto mx-auto">
            <p class="text-center">{{ opinion.text }}</p>
        </div>
    </div>

{% endblock %}
