{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="mx-auto col-3">
        <button class="btn btn-success">{{ button_label|default('Envoyer') }}</button>
    </div>
{{ form_end(form) }}
