{% extends 'base.html.twig' %}

{% block title %}Déposer une recommandation{% endblock %}

{% block body %}
    <h1>Modifier la recommandation</h1>

    {{ include('recommandation/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('recommandation_index') }}">Retour à la liste</a>

    {{ include('recommandation/_delete_form.html.twig') }}
{% endblock %}
