{% form_theme form 'bootstrap_4_layout.html.twig' %}
{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="mx-auto text-right">
        <button class="btn mb-5 bg-success">{{ button_label|default('Déposer') }}</button>
    </div>
{{ form_end(form) }}
