{% extends 'base.html.twig' %}

{% block title %}Editer Challenge{% endblock %}

{% block body %}
    <h1>Editer Challenge</h1>

    {{ include('challenge/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    <a href="{{ path('challenge_index') }}">Retour</a>

    {{ include('challenge/_delete_form.html.twig') }}
{% endblock %}
