{% extends 'registration/form.html.twig' %}

{% block title %}Déposer un challenge {% endblock %}
{% block formtitle %}
    Déposer un challenge
{% endblock %}
{% block form %}

    {{ include('challenge/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
{% block javascripts %}
    <script>
        function updateEngage() {
            const etpSelector = document.getElementById("challenge_enterprise");
            const id = parseInt(etpSelector.value);
            fetch("/challenge/api/" + id).then(
                (response) => {
                    response.json().then(
                        (engagements) => {
                            let html = "";
                            for (let i = 0; i < engagements.length; i++) {
                                html += `<option value=${engagements[i].id}>${engagements[i].name}</option>`
                            }
                            const element = document.getElementById("challenge_engagementt");
                            element.innerHTML = html;
                        }
                    )
                }
            )
        }

        function initMe() {
            window.removeEventListener("load", initMe);
            const etpSelector = document.getElementById("challenge_enterprise");
            etpSelector.addEventListener("change", updateEngage);
        }

        window.addEventListener("load", initMe);
    </script>
{% endblock %}
