{% extends 'base.html.twig' %}

{% block title %}Mes favoris{% endblock %}

{% block body %}

    <h1 class="m-5 text-center">MES FAVORIS</h1>
    <div class="my-5">
    {% for bookmark in app.user.consumer.bookmarks %}
        <div class="row col-12 col-lg-7 mx-auto">
            <img src="https://img.icons8.com/cotton/64/000000/star.png" style="height: 2rem;" class=""/>
            <a href="{{ path('show_enterprise', {'id': bookmark.id}) }}" class="pl-2 pl-lg-4 h3 text-center text-success" >{{ bookmark.name }}</a>
            <a href="{{ path('remove_bookmark', {'id': bookmark.id}) }}" class="ml-auto">
                <img src="https://img.icons8.com/cotton/64/000000/delete-sign--v2.png" style="height: 2rem;" class=""/>
            </a>
        </div>
    {% endfor %}
    </div>
{% endblock %}