<form method="post" action="{{ path('recruitment_delete', {'id': recruitment.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ recruitment.id) }}">
    <button class="btn btn-success">Supprimer</button>
</form>
