{% extends 'base.html.twig' %}

{% block title %}Offres d'emploi{% endblock %}

{% block body %}
    <div class="text-center p-5">
        <h1>Offres d'emploi</h1>
    </div>
    
    <div class="container-fluid px-5 pb-5">
        {% for recruitment in recruitments %}
            <div class="card" style="width: 22rem;">
                <img class="card-img-top" src="{{ asset('uploads/' ~ recruitment.image) }}" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">{{ recruitment.name }}</h5>
                <p class="card-text">{{ recruitment.content }}</p>
                <a href={{ recruitment.link }} class="btn btn-primary">Lien</a>
                </div>
            </div>
        {% else %}
            <div class="pl-5">
                <p>Aucune offre disponible pour le moment.</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
