{% extends 'registration/form.html.twig' %}

{% block title %}Ajouter une offre d'emploi{% endblock %}

{% block formtitle %}
    <h1>Ajouter Offre d'emploi</h1>
{% endblock %}
{% block form %}
    {{ include('recruitment/_form.html.twig') }}
{% endblock %}
